* {
    margin: 0px;
    padding: 0px;
}

.unit-type #myList {
    width: 452px;
    height: 30px;
}

#input-div {
    display: inline-block;
    width: 210px;
    padding-top: 10px;
    borderWidth:0.2;
    border: thin solid white;
}

.form {
    overflow-x: auto;
    overflow-y: hidden;;
    display: inline-block;
}
